@import './base.css';

/* TODO it should come from vuetify color pack */
/* https://vuetifyjs.com/en/styles/colors/#material-colors */
:root {
  --red-lighten-3: #EF9A9A;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  color: var(--red-lighten-3);
  text-decoration: none;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    justify-content: center;
  }
}
